* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  font-family: Epilogue , sans-serif;
  height: 100vh;
}

.title {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.container {
  background: white;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  height: 600px;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

fieldset {
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

label {
  text-align: left;
}

.name-form {
  display: flex;
  flex-direction: column;
}

textarea {
  border: none;
  border-bottom: 1px solid grey;
  outline: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;
  resize: none;
}

.img {
  border: 1px solid grey;
  margin-left: 5px;
  outline: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;
}

.name {
  border: none;
  border-bottom: 1px solid grey;
  outline: 0;
  padding-left: 5px;
}

.attr {
  border: 1px solid grey;
  margin-left: 20px;
  outline: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;

}

.select {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid grey;
  outline: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;
  width: 100%;
}

.checkbox {
  margin-right: 5px;
}

.cb-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cb-container > button {
  background: #fcb157;
  border: none;
  color: white;
  padding: 10px 8px;
}

.container-cards {
  margin: auto;
}

.card {
  animation: cardAnimation 15s ease infinite;
  background: linear-gradient(270deg, #fcb157, black);
  background-size: 400% 400%;
  border: 2px solid #fcb157;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: 30px;
  padding-top: 40px;
  width: 100%;
}

.attr1, .attr2, .attr3 {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.title-filter {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.container-filters {
  background: inherit;
  border-radius: 5px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  width: 50%;
  z-index: 1;
}

.container-filters:before {
  background: inherit;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  content: '';
  filter: blur(10px);
  left: 0;
  margin: -20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.filter-name {
  border: none;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  outline: 0;
  padding-left: 5px;
}

.render-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding-top: 20px;
}

.single-card {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  width: 18%;
}

.remove-btn {
  background: #fcb157;
  border: none;
  color: white;
  margin-top: 5px;
  padding: 10px 8px;
  width: 100px;
}

@keyframes cardAnimation {

  0% { background-position: 0% 50%;}

  50% { background-position: 100% 50%;}

  100% { background-position: 0% 50%;}
}

@keyframes gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
